<p>
  <strong><%= Tourney.human_attribute_name(:state) %>:</strong>
  <%= @tourney.stateName %>
</p>

<p>
  <strong><%= Tourney.human_attribute_name(:titulo) %>:</strong>
  <%= @tourney.titulo %>
</p>