<h1>X-Wing Zaragoza</h1>
<h2>Listado de jugadores</h2>
<% position = 1 %>
<table class='table'>
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>City</th>
      <th>Ranking</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= position %></td>
        <td><%= player.name %></td>
        <td><%= player.city %></td>
        <td><%= player.ranking %></td>
      </tr>
    <% position += 1 %>
    <% end %>
  </tbody>
</table>

<br>
