<h1>Preguntas frecuentes</h1>
<dl>
	<dt>¿Esta web permite realizar torneos en formato eliminatorio o poner las últimas rondas en formato Top?</dt>
	<dd>Esta aplicación no tiene actualmente niguna opción para gestionar formatos de rondas eliminatorias: solo funciona en formato suizo. Sin embargo es posible editar cada de las mesas de las rondas cambiando los jugadores. Con ello se pueden gestionar rondas en formato eliminatorio, pero de manera manual.</dd>

	<dt>¿Puedo crear y gestionar una liga donde cada jugador deba enfrentarse a todos los demás jugadores?</dt>
	<dd>Esta web no está preparada para gestionar ligas de manera automática. Sin embargo sí es posible organizar ligas de manera manual. Por ejemplo se puede crear un torneo de una única ronda e ir añadiendo mesas conforme se deba  enfrentar los jugadores. Otra solución sería crear rondas en formato suizo y cambiar los emparejamientos de cada mesa de manera manual.</dd>

	<dt>¿Cuál es el número máximo de jugadores, torneos e inscripciones que se pueden realizar?</dt>
	<dd>No hay ningún tipo de limitación. Pero los creadores se reservan el derecho de imponer limitaciones en el futuro.</dd>

	<dt>¿Es posible que dos cuentas diferentes gestionen los datos del mismo torneo?</dt>
	<dd>No. Sin embargo es posible que varios administradores gestionen un mismo torneo. Para ello los administradores deberán compartir los datos de una única cuenta.</dd>

	<dt>¿Esta web sirve para gestionar torneos oficiales?</dt>
	<dd>Esta aplicación ha sido programada siguiendo las directrices especificadas por el documento oficial de FFG. Dicho documento los podéis encontrar en: http://www.fantasyflightgames.com/ffg_content/x-wing/support/faq/X-Wing-Tournament-Rules.pdf</dd>

	<dt>¿Los datos sobre jugadores y torneos durante cuanto tiempo se mantendrán disponibles?</dt>
	<dd>Todos los datos persistirán durante un tiempo indefinido. Los administradores de este servicio se reservan el derecho de eliminar cualquier dato almacenado en esta aplicación.</dd>

	<dt>¿Qué navegador debo usar para acceder a esta web?</dt>
	<dd>En principio no hay un requerimiento específico de software de navegación. Si embargo recomendamos usar las últimas versiones de los navegadores Safari o Google Chrome.</dd>
</dl>

<h3>Para cualquier duda o sugerencia enviar un correo a <a href='mailto:info@xwingrankor.com'>info@xwingrankor.com</a></h3>